<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>News Nation</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-dark navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"  style="color:#1abc9c ;">News Nation</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container my-3">

        <!-- header  -->

        <header class="header">
            <div class="header_container">

                <div class="logo">
                    <h3>Top News <span class="badge bg-secondary">By News Nation</span></h3>
                </div>

                <div class="search_ops">

                    <form action="/search" method="post">
                        <select name="select_country" class="inp box-1" id="country">
                            <option name="test" value="">Select Country</option>
                            <option name="test" value="in">India</option>
                            <option name="test" value="us">USA</option>
                            <option name="test" value="au">Australia</option>
                        </select>
    
                        <select name="select_category" class="inp box-2" id="category">
                            <option name="category" value="">Select Category</option>
                            <option name="category" value="politics">Politics</option>
                            <option name="category" value="business">Business</option>
                            <option name="category" value="technology">Technology</option>
    
                        </select>
    
                        <button type="submit" class="btn btn-secondary">Get News</button>
                    </form>

                </div>
            </div>
        </header>
        <% newsData.forEach(function(news){ %>
            <div class="card mb-3">
                <img src="<%=news.urlToImage%>" height="300px" width="450px" />
                <div class="card-body">
                    <h5 class="card-title">
                        <%=news.title%>
                    </h5>
                    <p class="author"> - <%=news.author%>
                            <p class="card-text">
                                <%=news.content%>
                            </p>
                            <p class="card-text">
                                <a target="blank" href="<%=news.url%>">
                                    <button class="btn">
                                        Read Full Article
                                    </button>
                                    <a>
                            </p>
                </div>
            </div>
            <% }) %>



                <!-- news part  -->

                <!-- <section class="news" id="news">
                    <% newsData.forEach(function(news){ %>

                        <div class="news_card">
                            <div class="news_img">
                                <img src="<%=news.urlToImage%>">
                            </div>
                            <div class="news_details">
                                <h1 class="title">
                                    <%=news.title%>
                                </h1>
                                <p class="author"> - <%=news.author%>
                                </p>
                                <p class="content">
                                    <%=news.content%>
                                </p>
                                <a target="blank" href="<%=news.url%>">
                                    <button class="btn">
                                        Read Full Article
                                    </button>
                                    <a>
                            </div>

                        </div>
                        <% }) %>

                </section> -->
    </div>


    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
        <script src="/app.js"></script>
</body>

</html>



<!-- 47c4e088df764447b3fafa58e96a8aae -->